.title{
    display: flex;
    justify-content: space-between;
    color: black;
}

mat-divider{
    border-top-color: black;
}

mat-list-item{ 
    color: black!important;
}

.item{
    justify-content: space-between;
    display: flex;
    width: 100%;
}

.button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }
.texto-icon{
    color: black;
    margin: 0;
}

.remove{
    margin-left: auto;
}

/* .material-icons{
    margin-top: 10px;
} */

.sidenav{
    width: 200px;
   }
    .sidenav i{
       padding-right: 10px;
      }
   
      .example-margin {
        margin: 0 10px;
      }
    