.toolbar-spacer {
    flex: 1 1 auto;
  }


  #teste{
      color: white;
  }

  #mostrar{
    display: none;
    position:absolute;
    top: 10px;  
    left:80%;
    right:100px;
    margin: auto;
    width:250px;
    height:200px;
    border:1px solid black;
    background: black;
    color: white;
   
  }  
  #passar_mouse:hover #mostrar{
    display:block;
  }


.sidenav{
  width: 200px;
 }
 .sidenav a{
     color: white;
    }
 
    .sidenav i{
     padding-right: 10px;
    }
 
    .content{
        padding: 16px;
        background-color: white;
    }

