<mat-toolbar class="principal">
  <span>JJ - Loja dos Produtos inexistentes</span>
  <span class="toolbar-spacer"></span>
  <div id="passar_mouse">
    <button mat-icon-button aria-label="Ir para o carrinho" *ngIf="(cart$| async) as cart">
      <mat-icon [matBadge]="cart.length" routerLink='/cart'>shopping_cart</mat-icon>
    </button>
    <mat-list id="mostrar" *ngFor="let item of cart$ | async">
      <!-- <mat-card-subtitle>{{item.id}}</mat-card-subtitle> -->
      <mat-card-subtitle>{{item.name}}</mat-card-subtitle>
      <mat-card-subtitle>{{item.price.toFixed(2)}}</mat-card-subtitle>
    </mat-list>
  </div>
  <!-- <mat-icon [matBadge]="cart.length">shopping_cart</mat-icon> -->
</mat-toolbar>
<app-nav></app-nav>


