 <!-- <mat-icon [matBadge]="cart.length">shopping_cart</mat-icon> -->
<mat-grid-list  class="container" cols="3" rowHeight="3:1">
  <mat-grid-tile *ngFor="let produto of produtos">
    <mat-card class="product-card">
      <mat-card-title>{{produto.name}}</mat-card-title>
      <mat-card-subtitle>R$ {{produto.price.toFixed(2)}}</mat-card-subtitle>
      <button mat-raised-button color="primary" (click)="addItem(produto)">Add item</button>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>


<mat-list role="list">
  <mat-list-item class="texto" role="listitem" *ngFor="let item of cart$ | async">
    {{item.name}}
    <button mat-raised-button color="warn" (click)="removeItem(item.id)">Remove item</button>
  </mat-list-item>
</mat-list>