.home .title{
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.2;
}

.home .subtitle{
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 1.2;
}

.espacamento{
    margin-bottom: 50px;
}


body {
    background-color: #4099E6;
  }
  